<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>COULEUR DES YEUX</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Coach</a></li>
          <li class="breadcrumb-item active"> Couleur des yeux</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- .col (right) -->
      <div class="col-md-6">
        <form
          autocomplete="off"
          [formGroup]="couleurForm"
          (ngSubmit)="onsaveFn()"
        >
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4>Couleur des yeux </h4>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <!-- couleur des yeux -->
                <div class="form-group">
                  <label>Nom :</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="couleur des yeux"
                    id="nom"
                    name="nom"
                    formControlName="nom"
                  />
                  <div class="error-controls mt-1" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                          <span *ngIf="nom.errors.required" class="text text-danger">
                            le nom est requis
                          </span>
                  </div>

                </div>
                <!-- end couleur des yeux -->

                <!-- observation -->
                <div class="form-group">
                  <label>Observation :</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="observation"
                    id="observation"
                    name="observation"
                    formControlName="observation"
                  />

                </div>
                <!-- end observation -->
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <button type="reset" class="btn btn-danger m-1 btn-sm">
                  Annuler
                </button>
                <button type="submit" class="btn btn-primary btn-sm mr-1" [disabled]="couleurForm.invalid">
                  Enregistrer
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end col (right) -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h4>Liste de couleurs des yeux</h4>
            </div>
          </div>
          <div class="card-body">

            <form [formGroup]="handlerCouleurSarch">
              <div class="input-group">
                <label class="input-group-text">Search :</label>
                <input type="text" name="search" id="keyword" class="form-control" formControlName="keyword">
                <button class="btn btn-primary">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
            <hr>
          <div class="card-body table-responsive p-0 mt-3" style="height: 400px;">
            <ng-container *ngIf="couleurDATA | async as listCreneau; else failureOrLoading">
              <table class="table table-head-fixed table-striped">
                <thead>
                <tr>
                  <th>N</th>
                  <th>Couleur des yeux</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let items of couleurDATA | async ,let i = index;">
                  <td>{{i + 1}}</td>
                  <td>{{items.nom}}</td>
                  <td>
                    <a class="btn btn-primary btn-sm" (click)="onGetCouleur(items.id)"><i class="bi bi-pen"></i></a>
                    <a class="btn btn-danger btn-sm m-1" (click)="onDeleteCouleur(items.id)"><i
                      class="bi bi-trash3"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #failureOrLoading>
              <ng-container *ngIf="errorMessage; else Loading">
                <div class="text text-danger">
                  {{errorMessage}}
                </div>
              </ng-container>

              <ng-template #Loading>
                Loading data....
              </ng-template>

            </ng-template>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
