<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid mt-4">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>TAILLE</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Coach</a></li>
                    <li class="breadcrumb-item active">Taille</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- .col (right) -->
            <div class="col-md-6">
                <form autocomplete="off"
                      [formGroup]="tailleForm"
                      (ngSubmit)="onsaveFn()">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Taille </h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <!-- poids -->
                                <div class="form-group">
                                    <label>La taille :</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="taille"
                                            name="taille"
                                            formControlName="taille"
                                    />
                                    <div class="error-controls mt-1" *ngIf="taille.invalid && (taille.dirty || taille.touched)">
                          <span *ngIf="taille.errors.required" class="text text-danger">
                            indication la taille
                          </span>
                                    </div>

                                </div>
                                <!-- end couleur des yeux -->

                                <!-- observation -->
                                <div class="form-group">
                                    <label>Unité :</label>
                                    <select name="unite" id="unite" class="form-control">
                                        <option selected>Selectionner l'unité de la taille</option>
                                        <option value="cm">cm (centimètre)</option>
                                    </select>
                                    <!-- end observation -->
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="float-right">
                                    <button type="reset" mat-raised-button color="accent" class="m-1">
                                        Annuler
                                    </button>
                                    <button type="submit" mat-raised-button color="primary" class="mr-1" [disabled]="tailleForm.invalid">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end col (right) -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h4>Les Tailles disponibles</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <form [formGroup]="handlerTailleSarch">
                            <div class="input-group">
                                <label class="input-group-text">Search :</label>
                                <input type="text" name="search" id="keyword" class="form-control" formControlName="keyword">
                                <button class="btn btn-primary">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                        <hr>
                        <div class="card-body table-responsive p-0 mt-3" style="height: 400px;">
                            <ng-container *ngIf="tailleDATA | async as data; else failureOrLoading">
                                <table class="table table-head-fixed table-striped">
                                    <thead>
                                    <tr>
                                        <th>N</th>
                                        <th>Tailles</th>
                                        <th>Unité</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let items of tailleDATA | async ,let i = index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{items.taille}}</td>
                                        <td>{{items.unite}}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" (click)="onGetTaille(items.id)"><i class="bi bi-pen"></i></a>
                                            <a class="btn btn-danger btn-sm m-1" (click)="onDeleteTaille(items.id)"><i
                                                    class="bi bi-trash3"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ng-container>
                            <ng-template #failureOrLoading>
                                <ng-container *ngIf="errorMessage; else Loading">
                                    <div class="text text-danger">
                                        {{errorMessage}}
                                    </div>
                                </ng-container>

                                <ng-template #Loading>
                                    Loading data....
                                </ng-template>

                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


