<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>DETAIL DE L'AGENT</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a routerLink="/coach/liste-des-coachs"> Liste des agents </a>
          </li>
          <li class="breadcrumb-item active">Agent detail</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!--new row-->
    <div class="row mb-2">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <img [src]="Path.user" mat-card-avatar />
            <span class="header-name">
              Agent :
              {{ nom }} {{ postnom }} {{ prenom }}
            </span>

            <div class="float-right">
              <button
                mat-raised-button
                color="warn"
                class="mr-1"
                routerLink="/coach/liste-des-coachs"
              >
                <i class="bi bi-arrow-left"></i>
                Retour sur la liste
              </button>
              <button mat-raised-button color="primary">
                Generer la carte
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--end new row-->
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-main">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="card card-info-1">
                  <div class="card-body">
                    <div class="container">
                      <div class="col-md-12 mb-2 prop_img">
                        <img
                          [src]="Path.user"
                          alt="IMG"
                          class="img img-thumbnail coach_img"
                          name="imageUpload"
                        />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">NOM :</label>
                        <label class="content-text">{{ nom }} {{ postnom }} {{ prenom }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">SEXE :</label>
                        <label class="content-text">{{ sex }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">ETAT CIVIL :</label>
                        <label class="content-text">{{ civilite }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">DANAIS :</label>
                        <label class="content-text">{{ danais | date }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">LIEU DE NAISSANCE :</label>
                        <label class="content-text">{{ lieuNaissance }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">NATIONALITE :</label>
                        <label class="content-text">{{ nationalite }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-info-2">
                  <div class="card-body">
                    <label class="label-text">Mobile</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">TELEPHONE :</label>
                        <label class="content-text"> {{ phoneNumber }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">TELEPHONE 1 :</label>
                        <label class="content-text">{{ phoneNumber1 }}</label>
                      </div>

                      <div class="p-2" *ngIf="email">
                        <label class="label-text">EMAIL :</label>
                        <label
                          class="content-text"
                          style="text-transform: lowercase"
                          >{{ email }}</label
                        >
                      </div>
                    </div>
                    <hr />
                    <label class="label-text">ADRESSE</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="content-text">
                          {{ address }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card-info-3">
                  <div class="card-body">
                    <label class="label-text"> INFO PROFESSIONNELLE </label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">MATRICULE :</label>
                        <label class="content-text">{{ matricule }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">SERVICE :</label>
                        <label class="content-text"> {{ service }}</label>
                      </div>

                      <div class="p-2" *ngIf="email">
                        <label class="label-text">FONCTION :</label>
                        <label
                          class="content-text"
                          style="text-transform: lowercase"
                          >{{ fonction }}</label
                        >
                      </div>

                      <div class="p-2">
                        <label class="label-text">FILLIATION :</label>
                        <label class="content-text">{{ filiation }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
