<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <div class="hero">
        <div class="container">
            <div class="card card-primary card-login">
                <div class="card-header">
                    <div class="card-title">
                        <div class="login-mention">
                            <h3>
                                ACCESS MYCOACH ADMIN
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-controls">
                        <form action="/">
                            <div class="input-controls">
                                <div class="form-group">
                                    <input type="text" name="" class="form-control" id="" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="" class="form-control mt-3" id="" placeholder="password">
                                </div>
                            </div>
                            <div class="form-group button-control">
                                <button class="btn btn-primary btn-login">
                                    Se connecter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="login-para">
                <p>
                    &copy; Product SYLLICON SMART SERVICE-2024
                </p>
            </div>
        </div>
    </div>
</body>
</html>

