<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid mt-4">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Editer le coach</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Liste des coachs</a></li>
                    <li class="breadcrumb-item active">Editer coach</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form autocomplete="off" [formGroup]="coachForm" (ngSubmit)="createCoach()">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-header">
                            <div class="card-title">
                                <h4>INFORMATION PERSONNELLES</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- nom du coach-->
                            <div class="form-group">
                                <label>Nom du coach :</label>
                                <input type="text" id="nom_coach" name="nom_coach" formControlName="nom_coach" class="form-control"
                                       placeholder="le nom du coach"
                                       >
                            </div>
                            <!-- end nom du coach-->

                            <!-- row lieu de naissance et dateNaissance -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Lieu de naissance :</label>
                                        <input type="text" name="lieu_naissance" id="lieu_naissance" formControlName="lieu_naissance" class="form-control"
                                               placeholder="lieu de naissance">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Date de naissance :</label>
                                    <input type="date" name="danais" id="danais" formControlName="danais" class="form-control">
                                </div>
                            </div>
                            <!-- end row lieu de naissance et dateNaissance -->

                            <div class="row">
                                <div class="col-md-12">
                                    <!-- nationalité-->
                                    <div class="form-group">
                                        <label>Nationalité :</label>
                                        <select name="nationalite" formControlName="nationalite" id="nationalite" class="form-control">
                                            <option selected>Selectionner la nationalité</option>
                                            <ng-container *ngFor="let n of NationalitesData | async">
                                                <option value="n.id">{{n.name}}  Pays : {{n.country}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <!-- end nationalité-->
                                </div>
                            </div>

                            <!-- row sexe et civilité -->
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Sexe :</label>
                                        <select name="sexe" id="sexe" formControlName="sexe" class="form-control select">
                                            <option selected>Selectionner le sexe</option>
                                            <option value="Masculin">Masculin</option>
                                            <option value="Feminin">Feminin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Civilité :</label>
                                    <select  formControlName="civilite" class="form-control select">
                                        <option selected>Selectionner la civilité</option>
                                        <ng-container *ngFor="let civilite of CivilitesData | async">
                                            <option value="civilite.id">{{civilite.name}}</option>
                                        </ng-container>
                                    </select>

                                </div>
                                <div class="col-md-1 button_hauteur">
                                    <button class="btn btn-primary btn-sm" routerLink="/civilite">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end row sexe et civilité -->

                            <!-- row poids et taille -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Poids :</label>
                                        <select name="poids" id="poids" class="form-control" formControlName="poids">
                                            <option selected>Veuillez indiquer le poids</option>
                                            <ng-container *ngFor="let p of PoidsData">
                                                <option value="p.id">{{p.poids}} {{p.unite}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Taille :</label>
                                    <select class="form-control" formControlName="taille">
                                        <option selected>veuillez inserer la taille</option>
                                        <ng-container *ngFor="let t of TailleData">
                                            <option value="t.id">{{t.taille}} {{t.unite}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <!-- end row sexe et civilité -->

                            <div class="form-group">
                                <label>Exeperience Professionelle :</label>
                                <input type="text" name="experience_pro" formControlName="experience_pro" id="experience_pro" class="form-control">
                            </div>

                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->

                <!-- right column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-header">
                            <div class="card-title">
                                <h4>INFORMATION DU COACH</h4>
                            </div>
                        </div>
                        <div class="card-body">

                            <!-- coach image -->
                            <div class="container mb-3">
                                <div class="col-md-12 mb-2 prop_img">
                                    <img
                                            [src]="imageURL?imageURL : Path.user" *ngIf="imageURL?imageURL : Path.user"
                                            alt="IMG"
                                            class="img img-thumbnail coach_img"
                                            name="imageUpload" formControlName="imageUpload"
                                    />
                                </div>
                                <div class="d-flex prop_button">
                                    <input  #onFileInput type="file" name="imageUpload" formControlName="imageUpload" id="imageUpload" accept="/*" (change)="onSelectFile($event)" style="display: none;">
                                    <button type="button" (click)="onFileInput.click()" class="btn btn-danger">
                                        Gallerie...
                                        <i class="fas fa-camera"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm btn_p_photo">
                                        Prendre une photo
                                        <i class="fas fa-video"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end coach image -->

                            <div class="row">
                                <div class="col-md-11">
                                    <!--couleur des yeux-->
                                    <div class="form-group">
                                        <label>Couleurs des yeux : </label>
                                        <select name="couleurYeux" id="couleurYeux" formControlName="couleurYeux" class="form-control">
                                            <option selected>selectionner la couleur des yeux</option>
                                            <ng-container *ngFor="let couleurs of CouleurData | async">
                                                <option value="couleurs.id">{{couleurs.name}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <!-- end couleur des yeux-->
                                </div>
                                <div class="col-md-1 button_hauteur">
                                    <button class="btn btn-primary btn-sm" routerLink="/couleur-des-yeux">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>

                            <!--row Telephone 1 et telephone 2-->
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Téléphone 1 : </label>
                                    <input type="tel" class="form-control" id="telephone" formControlName="telephone" name="telephone" placeholder="telephone">
                                </div>
                                <div class="col-md-6">
                                    <label>Téléphone 2 :</label>
                                    <input type="tel" name="telephone1" placeholder="telephone1" formControlName="telephone1" id="telephone1" class="form-control">
                                </div>
                            </div>
                            <!--row Telephone 1 et telephone 2-->

                            <!-- Email -->
                            <div class="form-group mt-2">
                                <label>Email :</label>
                                <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="exemple@exemple.com">
                            </div>
                            <!--End Email-->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3>ADRESSE DU COACH</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Commune :</label>
                                                <select name="commune" id="commune" class="form-control" formControlName="commune">
                                                    <option selected>Veuillez selectionner la commune</option>
                                                    <ng-container *ngFor="let c of communeData">
                                                        <option value="c.id">Commune de {{c.commune}}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Quartier :</label>
                                                <input type="text" class="form-control" placeholder="Quartier (optional)" id="quartier" name="quartier" formControlName="quartier">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Avenue</label>
                                                <input type="text" id="avenue" formControlName="avenue" name="avenue" placeholder="nom de l'avenue" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>N de l'avenue</label>
                                                <input type="text" name="numero" id="numero" class="form-control" formControlName="numero">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  New row butotns and creneau liste  -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>
                                    CRENEAU DISPONIBLES
                                </h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body table-responsive p-0 mt-3" style="height: 200px;">
                                <ng-container *ngIf="CreneauDatas | async as data; else failureOrLoading">
                                    <table class="table table-head-fixed table-striped">
                                        <thead>
                                        <tr>
                                            <th>N</th>
                                            <th class="text-uppercase">Hrs de début</th>
                                            <th class="text-uppercase">Hrs de fin</th>
                                            <th class="text-uppercase">Jrs disp</th>
                                            <th class="text-uppercase">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let items of CreneauDatas | async ,let i = index;">
                                            <td>{{i + 1}}</td>
                                            <td>{{items.startTime}}</td>
                                            <td>{{items.endTime}}</td>
                                            <td>{{items.day}}</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm btn-creneau-validate">
                                                    <i class="fas fa-check-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                                <ng-template #failureOrLoading>

                                    <ng-container *ngIf="Errormessage; else Loading">
                                        <div class="text text-danger">
                                            {{Errormessage}}
                                        </div>
                                    </ng-container>

                                    <ng-template #Loading>
                                        Loading data....
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Creneau choisi</h4>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="card-body p-0 mt-3 card-body" style="height: 200px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Heure Debut :</label>
                                            <input type="text" name="heureD" formControlName="heureD"  id="heureD" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Heure De Fin :</label>
                                            <input type="text" name="heureF" id="heureF" formControlName="heureF" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Jours de disponibilité :</label>
                                    <input type="text" class="form-control" id="joursD" formControlName="joursD" name="joursD" readonly>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--    End row buttons and creneau liste-->
            <!--      card button -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right">
                                <button class="btn btn-success mr-1 text-white btn-sm" routerLink="/coach/liste-des-coachs">
                                    Voir les coachs
                                </button>
                                <button class="btn btn-danger mr-1 btn-sm">
                                    Annuler
                                </button>
                                <button type="submit" [disabled]="coachForm.invalid" class="btn btn-primary btn-sm">
                                    Enregister
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--      end card button-->

        </form>
    </div>
    <!-- /.container-fluid -->
</section>

