<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>CIVILITE</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Tableau de board</a></li>
          <li class="breadcrumb-item active"> Civilite</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- .col (right) -->
      <div class="col-md-6">
        <form
          autocomplete="off"
          [formGroup]="civiliteForm"
          (ngSubmit)="onsaveFn()"
        >
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4>Civilité </h4>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <!-- civilité -->
                <div class="form-group">
                  <label>Etat civil  :</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="situation familiale"
                    id="nom"
                    name="nom"
                    formControlName="nom"
                  />
                  <div class="error-controls mt-1" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                          <span *ngIf="nom.errors.required" class="text text-danger">
                            le nom de la civilité est requis
                          </span>
                  </div>

                </div>
                <!-- end civilite -->

                <!-- observation -->
                <div class="form-group">
                  <label>Observation  :</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="observation"
                    id="observation"
                    name="observation"
                    formControlName="observation"
                  />

                </div>
                <!-- end observation -->
              </div>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-body">
              <div class="float-right">
                <button type="reset" class="btn btn-danger m-1 btn-sm">
                  Annuler
                </button>
                <button type="submit" class="btn btn-primary btn-sm mr-1" [disabled]="civiliteForm.invalid">
                  Enregistrer
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end col (right) -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h4>Situation familiale</h4>
            </div>
          </div>
          <div class="card-body">


            <ng-container *ngIf="civiliteDATA | async as listCreneau; else failureOrLoading">
              <table class="table table-head-fixed table-striped">
                <thead>
                <tr>
                  <th>N</th>
                  <th>Etat civil</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let items of civiliteDATA | async ,let i = index;">
                  <td>{{i +1}}</td>
                  <td>{{items.nom}}</td>
                  <td>
                    <a class="btn btn-primary btn-sm" (click)="onGetCivilite(items.id)"><i class="bi bi-pen"></i></a>
                    <a class="btn btn-danger btn-sm m-1" (click)="onDeleteCivilite(items.id)"><i class="bi bi-trash3"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #failureOrLoading>

              <ng-container *ngIf="errorMessage; else Loading">
                <div class="text text-danger">
                  {{errorMessage}}
                </div>
              </ng-container>

              <ng-template #Loading>
                Loading data....
              </ng-template>

            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
