<!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid mt-4">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            MyCoacha
          </h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <hr>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>10</h3>
  
                <p>
                  Nombre des coachs
                </p>
              </div>
              <div class="icon">
                <i class=""></i>
              </div>
              <a routerLink="/coach/liste-des-coachs" class="small-box-footer"
                ><i class="bi bi-chevron-double-right fa-1x"></i
              ></a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>5</h3>
  
                <p>Abonnés avec coach</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer"
              ><i class="bi bi-chevron-double-right fa-1x"></i
              ></a>
            </div>
          </div>
          <!-- ./col -->



        </div>
      </div>
      <div class="col-md-4">
        <div class="row">

        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card">
                    <!-- /.card-header -->
                    <div class="card-header">
                      <div class="card-title">
                        <h3>Liste des abonnés</h3>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card-body table-responsive p-0 mt-3" style="height: 200px;">
                        <table
                          *ngIf="abonnementDATA"
                          class="table table-head-fixed table-striped"
                        >
                          <thead class="thead">
                          <tr>
                            <th>Numero D'abnmt</th>
                            <th>Nom sportif</th>
                            <th>Exercices</th>
                            <th>Coach</th>
                            <th>Date D'abnmt</th>
                            <th>Durée d'abmnt</th>
                            <th>Montant Payé</th>
                            <th>Numéro Paie</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of abonnementDATA | async">
                            <td>{{ item.numeroAbonnement }}</td>
                            <td> {{ item.clientDTO.nom_client }}</td>
                            <td>{{ item.exerciceDTO.nomexercise}}</td>
                            <td>{{ item.exerciceDTO.coachDTO.nom_coach}}</td>
                            <td>{{ item.dateAbonnement | date }}</td>
                            <td>{{item.dureeAbonnement}}</td>
                            <td>{{item.montantPaie}}</td>
                            <td>{{item.numeroPaiement}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="card-footer">
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
                <!--/.col (left) -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
