<aside class="main-sidebar premium-sidebar elevation-4">
  <a routerLink="/admin/dashboard" class="brand-link premium-brand">
    <div class="brand-logo">
      <span>G</span>
    </div>

    <div class="brand-text">
      <strong>G-SPER</strong>
      <small>Administration RH</small>
    </div>
  </a>

  <div class="sidebar">
    <div class="user-panel premium-user">
      <div class="user-avatar">
        <i class="fas fa-user"></i>
      </div>

      <div class="user-info">
        <strong>Username</strong>
        <span>Administrateur</span>
      </div>
    </div>

    <nav class="mt-3">
      <ul
        class="nav nav-pills nav-sidebar flex-column premium-menu"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item" [ngClass]="{ 'menu-open': isMenuActive('/') }">
          <a
            routerLink="/"
            routerLinkActive="active"
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ active: isDashboardMenuActive() }"
          >
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Tableau de bord</p>
          </a>
        </li>

        <li
          class="nav-item"
          [ngClass]="{ 'menu-open': isMenuActive('/management/coach/save') }"
        >
          <a
            href="#"
            class="nav-link"
            [ngClass]="{ active: isAgentMenuActive() }"
          >
            <i class="nav-icon fas fa-user-friends"></i>
            <p>Agents</p>
            <i class="right fas fa-chevron-right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/management/agents/save"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4">Création</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/management/agents/show"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4"> Listes </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/management/agents/agentss"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4"> Agent Premium </span>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="nav-item"
          [ngClass]="{
            'menu-open': isMenuActive('/management/dossiers/create'),
          }"
        >
          <a
            href="#"
            class="nav-link"
            [ngClass]="{ active: isDossierMenuActive() }"
          >
            <i class="nav-icon far fa-folder-open"></i>
            <p>Dossiers</p>
            <i class="right fas fa-chevron-right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/management/dossiers/create"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4"> Création </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/management/dossiers/show"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4">Listes</span>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="nav-item"
          [ngClass]="{
            'menu-open': isMenuActive('/management/formations/create'),
          }"
        >
          <a
            href="#"
            class="nav-link"
            [ngClass]="{ active: isFormationMenuActive() }"
          >
            <i class="nav-icon fas fa-graduation-cap"></i>
            <p>Formations</p>
            <i class="right fas fa-chevron-right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/management/formations/create"
                routerLinkActive="active"
                class="nav-link"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <span class="ml-4"> Création </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/management/formations/show"
                routerLinkActive="active"
                class="nav-link"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <span class="ml-4"> Listes </span>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item"
          [ngClass]="{
            'menu-open': isMenuActive('/management/experience/create'),
          }"
        >
          <a
            href="#"
            class="nav-link"
            [ngClass]="{ active: isExperienceMenuActive() }"
          >
            <i class="nav-icon fas fa-briefcase"></i>
            <p>Expériences</p>
            <i class="right fas fa-chevron-right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/management/experience/create"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4">Création</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/management/experience/show"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
              >
                <span class="ml-4">Listes </span>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="nav-item"
          [ngClass]="{
            'menu-open': isMenuActive('/management/competences/create'),
          }"
        >
          <a
            href="#"
            class="nav-link"
            [ngClass]="{ active: isCompetenceMenuActive() }"
          >
            <i class="nav-icon fas fa-medal"></i>
            <p>Compétences</p>
            <i class="right fas fa-chevron-right"></i>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a
                  routerLink="/management/competences/create"
                  routerLinkActive="active"
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="ml-4"> Création </span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  routerLink="/management/competences/show"
                  routerLinkActive="active"
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="ml-4"> Listes </span>
                </a>
              </li>
            </ul>
          </a>
        </li>

        <li
          class="nav-item"
          [ngClass]="{
            'menu-open': isMenuActive('/management/langues/create'),
          }"
        >
          <a
            href="#"
            routerLinkActive="active"
            class="nav-link"
            [ngClass]="{ active: isLangueMenuActive() }"
          >
            <i class="nav-icon fas fa-language"></i>
            <p>Langues</p>
            <i class="right fas fa-chevron-right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="/management/langues/create"
                routerLinkActive="active"
                class="nav-link"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <span class="ml-4"> Création </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/management/langues/show"
                routerLinkActive="active"
                class="nav-link"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <span class="ml-4"> Listes </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item logout-item">
          <a routerLink="/login" class="nav-link logout-link">
            <i class="nav-icon fas fa-power-off"></i>
            <p>Déconnexion</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
