<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>CREATE COACH</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Liste des coachs</a></li>
          <li class="breadcrumb-item active">Editer coach</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <form autocomplete="off" [formGroup]="coachForm" (ngSubmit)="createCoach()">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card">
            <!-- /.card-header -->
            <div class="card-header">
              <div class="card-title">
                <h4>INFORMATION PERSONNELLES</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label">Nom du coach :</label>
                    <input type="text" name="name" formControlName="name" class="form-control"
                           placeholder="le nom du coach">
                  </div>
                </div>
                <div class="col-4">
                  <label class="form-label">Nom de famille :</label>
                  <input type="text" name="lastname" formControlName="lastname" class="form-control"
                         placeholder="nom de famille...">
                </div>
                <div class="col-4">
                  <label class="form-label">Prenom :</label>
                  <input type="text" name="firstname" formControlName="firstname" class="form-control"
                         placeholder="le prenom du coach...">
                </div>
              </div>

              <!-- row lieu de naissance et dateNaissance -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Lieu de naissance :</label>
                    <input type="text" name="placeOfBirt" id="placeOfBirt" formControlName="placeOfBirt" class="form-control"
                           placeholder="lieu de naissance...">
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Date de naissance : </label>
                  <input type="date" name="dateOfBirt" id="dateOfBirt" formControlName="dateOfBirt" class="form-control">
                </div>
              </div>
              <!-- end row lieu de naissance et dateNaissance -->

              <div class="row">
                <div class="col-md-12">
                  <!-- nationalité-->
                  <div class="form-group">
                    <label>Nationalité :</label>
                    <select name="nationalite" formControlName="nationalite" id="nationalite" class="form-select shadow-none">
                      <option selected>Selectionner la nationalité</option>
                      <ng-container *ngFor="let n of NationalitesData | async">
                        <option value="n.id">{{n.name}}  Pays : {{n.country}}</option>
                      </ng-container>
                    </select>
                  </div>
                  <!-- end nationalité-->
                </div>
              </div>

              <!-- row sexe et civilité -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Sexe :</label>
                    <select name="sex" id="sex" formControlName="sex" class="form-select select">
                      <option selected>Selectionner le sexe</option>
                      <option value="Masculin">Masculin</option>
                      <option value="Feminin">Feminin</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Civilité :</label>
                  <select  formControlName="civilite" class="form-control select">
                    <option selected>Selectionner la civilité</option>
                    <ng-container *ngFor="let civilite of CivilitesData | async">
                      <option value="civilite.id">{{civilite.name}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <!-- end row sexe et civilité -->

              <!-- row poids et taille -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Poids :</label>
                    <select name="poids" id="poids" class="form-control" formControlName="poids">
                      <option selected>Veuillez indiquer le poids</option>
                      <ng-container *ngFor="let p of PoidsData">
                        <option value="p.id">{{p.poids}} {{p.unite}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Taille :</label>
                  <select class="form-select shadow-none" formControlName="taille">
                    <option selected>veuillez inserer la taille</option>
                    <ng-container *ngFor="let t of TailleData">
                      <option value="t.id">{{t.taille}} {{t.unite}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <!-- end row sexe et civilité -->

              <div class="form-group">
                <label>Exeperience Professionelle :</label>
                <input type="text" name="experience_pro" formControlName="professionalExp" id="experience_pro" class="form-control">
              </div>

            </div>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->

        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card">
            <!-- /.card-header -->
            <div class="card-header">
              <div class="card-title">
                <h4>INFORMATION DU COACH</h4>
              </div>
            </div>
            <div class="card-body">

              <!-- coach image -->
              <div class="container mb-3">
                <div class="col-md-12 mb-2 prop_img">
                  <img
                    [src]="imageURL?imageURL : Path.user" *ngIf="imageURL?imageURL : Path.user"
                    alt="IMG"
                    class="img img-thumbnail coach_img"
                    name="imageUpload" formControlName="imageUpload"
                  />
                </div>
                <div class="d-flex prop_button">
                  <input  #onFileInput type="file" name="imageUpload" formControlName="imageUpload" id="imageUpload" accept="/*" (change)="onSelectFile($event)" style="display: none;">
                  <button type="button" (click)="onFileInput.click()" class="btn btn-danger">
                    Gallerie...
                    <i class="fas fa-camera"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm btn_p_photo">
                    Prendre une photo
                    <i class="fas fa-video"></i>
                  </button>
                </div>
              </div>
              <!-- end coach image -->

              <div class="row">
                <div class="col-md-11">
                  <!--couleur des yeux-->
                  <div class="form-group">
                    <label>Couleurs des yeux : </label>
                    <select name="couleurYeux" id="couleurYeux" formControlName="couleurYeux" class="form-select shadow-none">
                      <option selected>selectionner la couleur des yeux</option>
                      <ng-container *ngFor="let couleurs of CouleurData | async">
                        <option value="couleurs.id">{{couleurs.name}}</option>
                      </ng-container>
                    </select>
                  </div>
                  <!-- end couleur des yeux-->
                </div>
                <div class="col-md-1 button_hauteur">
                  <button class="btn btn-primary btn-sm" routerLink="/couleur-des-yeux">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                </div>
              </div>

              <!--row Telephone 1 et telephone 2-->
              <div class="row">
                <div class="col-md-6">
                  <label>Téléphone Line 1 : </label>
                  <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" name="phoneNumber" placeholder="phone number">
                </div>
                <div class="col-md-6">
                  <label>Téléphone Line 2  :</label>
                  <input type="tel" name="phoneNumber" placeholder="phoneNumber1" formControlName="phoneNumber1" id="phoneNumber1" class="form-control">
                </div>
              </div>
              <!--row Telephone 1 et telephone 2-->

              <!-- Email -->
              <div class="form-group mt-2">
                <label>Email :</label>
                <input type="email" name="email" id="email" class="form-control shadow-none" formControlName="email" placeholder="exemple@exemple.com">
              </div>
              <!--End Email-->

            </div>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h3>ADRESSE DU COACH</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label">Address(Commune,Quartier,Avenue,Numéro) :</label>
                    <input type="text" class="form-control" placeholder="address...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  New row butotns and creneau liste  -->
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4>
                  CRENEAU DISPONIBLES
                </h4>
              </div>
            </div>
            <div class="card-body">
              <div class="card-body table-responsive p-0 mt-3" style="height: 200px;">
                <ng-container *ngIf="CreneauDatas | async as data; else failureOrLoading">
                  <table class="table table-head-fixed table-striped">
                    <thead>
                    <tr>
                      <th>N</th>
                      <th class="text-uppercase">H de début</th>
                      <th class="text-uppercase">H de fin</th>
                      <th class="text-uppercase">Jour disp</th>
                      <th class="text-uppercase">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let items of CreneauDatas | async ,let i = index;">
                      <td>{{i + 1}}</td>
                      <td>{{items.startTime}}</td>
                      <td>{{items.endTime}}</td>
                      <td>{{items.day}}</td>
                      <td>
                        <button class="btn btn-danger btn-sm btn-creneau-validate">
                          <i class="fa-thin fa-circle-check"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>
                <ng-template #failureOrLoading>

                  <ng-container *ngIf="Errormessage; else Loading">
                    <div class="text text-danger">
                      {{Errormessage}}
                    </div>
                  </ng-container>

                  <ng-template #Loading>
                    Loading data....
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4>Creneau choisi</h4>
              </div>
            </div>
            <div class="card-body">

              <div class="card-body p-0 mt-3 card-body" style="height: 200px;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Heure Debut :</label>
                      <input type="text" name="heureD" formControlName="startTime"  id="heureD" class="form-control" readonly>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Heure De Fin :</label>
                      <input type="text" name="heureF" id="endTime" formControlName="endTime" class="form-control" readonly>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Jours :</label>
                  <input type="text" class="form-control" id="day" formControlName="day" name="joursD" readonly>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--    End row buttons and creneau liste-->
      <!--      card button -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <button class="btn btn-success mr-1 text-white btn-sm" routerLink="/coach/liste-des-coachs">
                  Voir les coachs
                </button>
                <button class="btn btn-danger mr-1 btn-sm">
                  Annuler
                </button>
                <button type="submit" [disabled]="coachForm.invalid" class="btn btn-primary btn-sm">
                  Enregister
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card button-->
    </form>
  </div>
  <!-- /.container-fluid -->
</section>


<!--
&lt;!&ndash; Content Header (Page header) (ngSubmit)="createCoach" &ndash;&gt;
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>CREATION DU Coach</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">
            Dashbaord
          </a>
          </li>
          <li class="breadcrumb-item active">Coach</li>
        </ol>
      </div>
    </div>
  </div>
  &lt;!&ndash; /.container-fluid &ndash;&gt;
</section>
&lt;!&ndash; Main content &ndash;&gt;

<section class="content">
  <div class="container-fluid">

    <mat-stepper [linear]="isLinear">

      &lt;!&ndash; IDENTITE DU COACH FORM&ndash;&gt;
      <mat-step [stepControl]="coachForm">

        <form [formGroup]="coachForm">
          <ng-template matStepLabel>
            IDENTITE DU COACH
          </ng-template>

          <div class="row mt-3">
            &lt;!&ndash;            col-left&ndash;&gt;
            <div class="col-md-6">
              <mat-card>
                <mat-card-content>
                  &lt;!&ndash; nom du coach&ndash;&gt;
                  <div class="form-group mb-3">
                    <label>Nom du coach :</label>
                    <input type="text" id="nom_coach" name="nom_coach" formControlName="nom_coach" class="form-control">
                  </div>
                  &lt;!&ndash; end nom du coach&ndash;&gt;

                  &lt;!&ndash; row lieu de naissance et dateNaissance &ndash;&gt;
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Lieu de naissance :</label>
                        <input type="text" name="lieu_naissance" id="lieu_naissance" formControlName="lieu_naissance"
                               class="form-control"
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Date de naissance :</label>
                      <input type="date" name="danais" id="danais" formControlName="danais" class="form-control">

                    </div>
                  </div>
                  &lt;!&ndash; end row lieu de naissance et dateNaissance &ndash;&gt;

                  <div class="row mt-3 mb-3">
                    <div class="col-md-11">
                      &lt;!&ndash;couleur des yeux&ndash;&gt;
                      <div class="form-group">
                        <label>Couleurs des yeux : </label>
                        <select name="couleurYeux" id="couleurYeux" formControlName="couleurYeux" class="form-control">
                          <option selected>selectionner la couleur des yeux</option>
                          <ng-container *ngFor="let couleurs of CouleurData | async">
                            <option value="couleurs.id">{{couleurs.name}}</option>
                          </ng-container>
                        </select>
                      </div>
                      &lt;!&ndash; end couleur des yeux&ndash;&gt;
                    </div>
                    <div class="col-md-1 button_hauteur">
                      <button class="btn btn-primary btn-sm" routerLink="/couleur-des-yeux">
                        <i class="bi bi-plus"></i>
                      </button>
                    </div>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
            &lt;!&ndash;            end col-left&ndash;&gt;
            <div class="col-md-6 mb-3">
              <mat-card>
                <mat-card-content>
                  &lt;!&ndash; nationalite&ndash;&gt;
                  <div class="row mb-3">
                    <div class="col-md-7">
                      &lt;!&ndash; nationalité&ndash;&gt;
                      <div class="form-group">
                        <label>Nationalité :</label>
                        <select name="nationalite" formControlName="nationalite" id="nationalite" class="form-control">
                          <option selected>Selectionner la nationalité</option>
                          <ng-container *ngFor="let n of NationalitesData | async">
                            <option value="n.id">{{n.nationalite}}</option>
                          </ng-container>
                        </select>

                      </div>
                      &lt;!&ndash; end nationalité&ndash;&gt;
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Pays :</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-1 button_hauteur">
                      <button class="btn btn-primary btn-sm" routerLink="/nationalite">
                        <i class="bi bi-plus"></i>
                      </button>
                    </div>
                  </div>
                  &lt;!&ndash; end nationalite&ndash;&gt;

                  &lt;!&ndash; row poids et taille &ndash;&gt;
                  <div class="row  mb-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Poids :</label>
                        <select name="poids" id="poids" class="form-control" formControlName="poids">
                          <option selected>Veuillez indiquer le poids</option>
                          <ng-container *ngFor="let p of PoidsData">
                            <option value="p.id">{{p.poids}} {{p.unite}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Taille :</label>
                      <select name="taille" id="taille" class="form-control" formControlName="taille">
                        <option selected>veuillez inserer la taille</option>
                        <ng-container *ngFor="let t of TailleData">
                          <option value="t.id">{{t.taille}} {{t.unite}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  &lt;!&ndash; end row sexe et civilité &ndash;&gt;

                  <div class="form-group mb-3">
                    <label>Exeperience Professionelle :</label>
                    <input type="text" name="experience_pro" formControlName="experience_pro" id="experience_pro"
                           class="form-control">
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
          </div>


          <div class="mt-5">
            <button type="button" [disabled]="coachForm.invalid" mat-raised-button color="primary" matStepperNext>
              Suivant
              <i class="bi bi-arrow_left"></i>
            </button>
          </div>

        </form>
      </mat-step>
      &lt;!&ndash;END IDENTITE DU COACH FORM&ndash;&gt;

      &lt;!&ndash; SITUATION FAMILIALE&ndash;&gt;
      <mat-step [stepControl]="coachForm1">

        <form [formGroup]="coachForm1">
          <ng-template matStepLabel>
            SITUATION FAMILIALE
          </ng-template>

          <div class="row mt-3">
            &lt;!&ndash;            col-left&ndash;&gt;
            <div class="col-md-6">
              <mat-card>
                <mat-card-content>

                  &lt;!&ndash; row sexe et civilité &ndash;&gt;
                  <div class="row mb-3">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>Sexe :</label>
                        <select name="sexe" id="sexe" formControlName="sexe" class="form-control select">
                          <option selected>Selectionner le sexe</option>
                          <option value="Masculin">Masculin</option>
                          <option value="Feminin">Feminin</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Etat civil :</label>
                      <select name="civilite" id="civilite" formControlName="civilite" class="form-control select">
                        <option selected>Selectionner la civilité</option>
                        <ng-container *ngFor="let civilite of CivilitesData | async">
                          <option value="civilite.id">{{civilite.name}}</option>
                        </ng-container>
                      </select>

                    </div>
                    <div class="col-md-1 button_hauteur">
                      <button class="btn btn-primary btn-sm" routerLink="/civilite">
                        <i class="bi bi-plus"></i>
                      </button>
                    </div>
                  </div>
                  &lt;!&ndash; end row sexe et civilité &ndash;&gt;
&lt;!&ndash;                  nombre d'enfant&ndash;&gt;
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nom de l'époux(se) : </label>
                        <input type="text" name="nom_epoux" id="nom_epoux" formControlName="nom_epoux" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Nombre d'enfant :</label>
                      <input type="text" name="nombre_enfant" id="nombre_enfant" formControlName="nombre_enfant" class="form-control">
                    </div>
                  </div>
&lt;!&ndash;                  end nombre d'enfant&ndash;&gt;
                </mat-card-content>
              </mat-card>
            </div>
            &lt;!&ndash;            end col-left&ndash;&gt;
            <div class="col-md-6 mb-3">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <h3>ADRESSE </h3>
                  </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Commune :</label>
                        <select name="commune" id="commune" class="form-control" formControlName="commune">
                          <option selected>Veuillez selectionner la commune</option>
                          <ng-container *ngFor="let c of communeData">
                            <option value="c.id">{{c.commune}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Quartier :</label>
                        <input type="text" class="form-control" placeholder="Quartier (optional)" id="quartier"
                               name="quartier" formControlName="quartier">
                      </div>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>Avenue</label>
                        <input type="text" id="avenue" formControlName="avenue" name="avenue"
                               placeholder="nom de l'avenue" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>N de l'avenue</label>
                        <input type="text" name="numero" id="numero" class="form-control" formControlName="numero">
                      </div>
                    </div>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="mt-5">
            <button mat-raised-button color="accent" class="mr-1" matStepperPrevious>
              Precedent
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Suivant</button>
          </div>

        </form>
      </mat-step>
      &lt;!&ndash;END SITUATION FAMILIALE&ndash;&gt;


      <mat-step [stepControl]="coachForm2">
        <form [formGroup]="coachForm2">
          <ng-template matStepLabel>
            CONTACT
          </ng-template>

          <div class="row mt-4">

            <div class="col-md-6">
              <mat-card>
                <mat-card-content>

                  &lt;!&ndash;row Telephone 1 et telephone 2&ndash;&gt;
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label>Téléphone 1 : </label>
                      <input type="tel" class="form-control" id="telephone" formControlName="telephone" name="telephone"
                             placeholder="telephone">
                    </div>
                    <div class="col-md-6">
                      <label>Téléphone 2 :</label>
                      <input type="tel" name="telephone1" placeholder="telephone1" formControlName="telephone1"
                             id="telephone1" class="form-control">
                    </div>
                  </div>
                  &lt;!&ndash;row Telephone 1 et telephone 2&ndash;&gt;

                  &lt;!&ndash; Email &ndash;&gt;
                  <div class="form-group mt-3 mb-3">
                    <label>Email :</label>
                    <input type="email" name="email" id="email" class="form-control" formControlName="email"
                           placeholder="exemple@exemple.com">
                  </div>
                  &lt;!&ndash;End Email&ndash;&gt;

                  &lt;!&ndash; Email &ndash;&gt;
                  <div class="form-group mt-3 mb-5">
                    <label>Profil facebook :</label>
                    <input type="url" name="facebook" id="facebook" class="form-control" formControlName="email"
                           placeholder="http://">
                  </div>
                  &lt;!&ndash;End Email&ndash;&gt;

                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-md-6">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <h3>IMAGE DU COACH</h3>
                  </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>

                  &lt;!&ndash; coach image &ndash;&gt;
                  <div class="container mb-3">
                    <div class="col-md-12 mb-2 prop_img">
                      <img
                        [src]="imageURL?imageURL : Path.user" *ngIf="imageURL?imageURL : Path.user"
                        alt="IMG"
                        class="img img-thumbnail coach_img"
                        name="imageUpload" formControlName="imageUpload"
                      />
                    </div>
                    <div class="d-flex prop_button">
                      <input #onFileInput type="file" name="imageUpload" formControlName="imageUpload" id="imageUpload"
                             accept="/*" (change)="onSelectFile($event)" style="display: none;">
                      <button mat-raised-button color="primary" type="button" (click)="onFileInput.click()">
                        <mat-icon>
                          <i class="bi bi-images"></i>
                        </mat-icon>
                        Gallerie...
                      </button>
                      <button mat-raised-button color="accent" type="button" class="ml-1">
                        Camera
                        <mat-icon>
                          <i class="bi bi-instagram"></i>
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                  &lt;!&ndash; end coach image &ndash;&gt;

                </mat-card-content>
              </mat-card>
            </div>

          </div>


          <div class="mt-5">
            <button mat-raised-button color="accent" matStepperPrevious>Precedent</button>
            <button mat-raised-button color="primary" class="m-1" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="coachForm3">
        <form [formGroup]="coachForm3">
          <ng-template matStepLabel>
            CRENEAU HORAIRE
          </ng-template>

          <div class="row mt-4">
            <div class="col-md-6">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <h3>TABLEAU DES CRENEAUX</h3>
                  </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  <div class="card-body table-responsive p-0 mt-3" style="height: 300px;">
                    <ng-container *ngIf="CreneauDatas | async as data; else failureOrLoading">
                      <table class="table table-bordered table-head-fixed">
                        <thead>
                        <tr>
                          <th>N</th>
                          <th class="text-uppercase">Hrs de début</th>
                          <th class="text-uppercase">Hrs de fin</th>
                          <th class="text-uppercase">Jrs disp</th>
                          <th class="text-uppercase">Choisir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let items of CreneauDatas | async ,let i = index;">
                          <td>{{i + 1}}</td>
                          <td>{{items.startTime}}</td>
                          <td>{{items.endTime}}</td>
                          <td>{{items.day}}</td>
                          <td class="text-center">
                            <mat-radio-button>
                            </mat-radio-button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-container>
                    <ng-template #failureOrLoading>

                      <ng-container *ngIf="Errormessage; else Loading">
                        <div class="text text-danger">
                          {{Errormessage}}
                        </div>
                      </ng-container>

                      <ng-template #Loading>
                        Loading data....
                      </ng-template>
                    </ng-template>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-md-6">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <h3>CRENEAU COACH</h3>
                  </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  <div class="card-body p-0 mt-3 card-body" style="height: 200px;">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Heure Debut :</label>
                          <input type="text" name="heureD" formControlName="heureD" id="heureD" class="form-control"
                                 readonly>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Heure De Fin :</label>
                          <input type="text" name="heureF" id="heureF" formControlName="heureF" class="form-control"
                                 readonly>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Jours de disponibilité :</label>
                      <input type="text" class="form-control" id="joursD" formControlName="joursD" name="joursD"
                             readonly>
                    </div>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>

          </div>

          <div class="mt-5">
            <button mat-raised-button color="accent" class="mr-1" matStepperPrevious>Precedent</button>
            <button mat-raised-button color="primary" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="coachForm4">
        <form [formGroup]="coachForm4">
          <ng-template matStepLabel>
            RESUME
          </ng-template>

          <div class="mt-5">
            <button mat-raised-button color="accent" class="mr-1" matStepperPrevious>Precedent</button>
            <button type="submit" mat-raised-button color="primary" *ngIf="coachForm.invalid" disabled>Enregistrer</button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
  </div>
  &lt;!&ndash; /.container-fluid &ndash;&gt;
</section>
-->
