<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>DETAIL SUR L'EXERCICE SPORTIF</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a routerLink="/exercise-sportif/liste">Exercice sportifs</a>
          </li>
          <li class="breadcrumb-item active">Exercice sportif detail</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!--new row-->
    <div class="row mb-2">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <img [src]="Path.user" mat-card-avatar />
            <span class="header-name">{{ nomexercise }}</span>

            <div class="float-right">
              <button
                mat-raised-button
                color="warn"
                class="mr-1"
                routerLink="/exercise-sportif/liste"
              >
                <i class="bi bi-arrow-left"></i>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--end new row-->
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <!-- /.card-header -->
          <div class="card-header">
            <div class="card-title"></div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="card" style="height: 65vh">
                  <div class="card-body">
                    <hr />
                    <label class="label-text">INFORMATION SUR LE SPORT</label>
                    <hr />
                    <div class="container">
                      <div class="col-md-12 mb-2 prop_img">
                        <img
                          [src]="Path.user"
                          alt="IMG"
                          class="img img-thumbnail coach_img"
                          name="imageUpload"
                        />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">SPORT :</label>
                        <label class="content-text">
                          {{ nomexercise }}
                        </label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">EXISTANCE :</label>
                        <label class="content-text">{{ experiencePro }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">DESCRIPTION :</label>
                        <label class="content-text">{{
                          caracteristique
                        }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="height: 65vh">
                  <div class="card-body">
                    <hr />
                    <label class="label-text"
                      >INFORMATION DU COACH SPORTIF</label
                    >
                    <hr />
                    <div class="container">
                      <div class="col-md-12 mb-2 prop_img">
                        <img
                          [src]="Path.user"
                          alt="IMG"
                          class="img img-thumbnail coach_img"
                          name="imageUpload"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">NOM :</label>
                        <label class="content-text">{{
                          coachDTO.nom_coach
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">SEXE :</label>
                        <label class="content-text">{{ coachDTO.sexe }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">TELEPHONE :</label>
                        <label class="content-text">
                          {{ coachDTO.telephone }}</label
                        >
                      </div>

                      <div class="p-2">
                        <label class="label-text">TELEPHONE 1 :</label>
                        <label class="content-text">{{
                          coachDTO.telephone1
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">EXPERIENCE PRO :</label>
                        <label class="content-text">{{
                          coachDTO.experience_pro
                        }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="height: 65vh">
                  <div class="card-body">
                    <hr>
                    <label class="label-text">CRENEAU HORAIRE</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">HEURE DEBUT :</label>
                        <label class="content-text">{{
                          coachDTO.creneau.heureDebut
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">HEURE DE FIN :</label>
                        <label class="content-text">{{
                          coachDTO.creneau.heureFin
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">JOURS :</label>
                        <label class="content-text">{{
                          coachDTO.creneau.joursDisponible
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">ETAT :</label>
                        <label class="content-text">{{
                          coachDTO.creneau.etat
                        }}</label>
                      </div>
                    </div>
                    <hr />
                    <label class="label-text">AUTRES INFORMATIONS</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">TAILLE : </label>
                        <label class="content-text"
                          >{{ coachDTO.taille.taille }}
                          {{ coachDTO.taille.unite }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
