<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>DETAIL SUR LE CLIENT SPORTIF</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a routerLink="/client/voir-les-cliients">Clients</a>
          </li>
          <li class="breadcrumb-item active">Client sportif</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
     <!--new row-->
     <div class="row mb-2">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <img [src]="Path.user" mat-card-avatar />
            <span class="header-name">{{ nom_client }}</span>

            <div class="float-right">
              <button
                mat-raised-button
                color="warn"
                class="mr-1"
                routerLink="/client/voir-les-cliients"
              >
                <i class="bi bi-arrow-left"></i>
                Retour sur les clients
              </button>
              <button mat-raised-button color="primary">
                Generer la carte
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--end new row-->

    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <!-- /.card-header -->
          <div class="card-header">
            <div class="card-title"></div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="card" style="height: 65vh">
                  <div class="card-body">
                    <div class="container">
                      <div class="col-md-12 mb-2 prop_img">
                        <img
                          [src]="Path.user"
                          alt="IMG"
                          class="img img-thumbnail coach_img"
                          name="imageUpload"
                        />
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">NOM :</label>
                        <label class="content-text">{{ nom_client }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">SEXE :</label>
                        <label class="content-text">{{ sexe }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">NATIONALITE :</label>
                        <label class="content-text">{{
                          nationalite.nationalite
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">PAYS :</label>
                        <label class="content-text">{{
                          nationalite.libelle
                        }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="height: 65vh">
                  <div class="card-body">
                    <label>CONTACT</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">TELEPHONE :</label>
                        <label class="content-text"> {{ telephone }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">TELEPHONE 1 :</label>
                        <label class="content-text">{{ telephone1 }}</label>
                      </div>

                      <div class="p-2" *ngIf="email">
                        <label class="label-text">EMAIL :</label>
                        <label class="content-text">{{ email }}</label>
                      </div>
                    </div>
                    <hr />
                    <label>ADRESSE</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">COMMUNE :</label>
                        <label class="content-text">{{
                          commune.commune
                        }}</label>
                      </div>
                      <div class="p-2">
                        <label class="label-text">QUARTIER :</label>
                        <label class="content-text">
                          {{ quartier }}
                        </label>
                      </div>
                      <div class="p-2">
                        <label class="label-text">NUMERO & AVENUE :</label>
                        <label class="content-text"
                          >{{ numero }} {{ avenue }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="height: 65vh">
                  <div class="card-body">
                    <label>CRENEAU HORAIRE</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">HEURE DEBUT :</label>
                        <label class="content-text">{{
                          creneau.heureDebut
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">HEURE DE FIN :</label>
                        <label class="content-text">{{
                          creneau.heureFin
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">JOURS :</label>
                        <label class="content-text">{{
                          creneau.joursDisponible
                        }}</label>
                      </div>

                      <div class="p-2">
                        <label class="label-text">ETAT :</label>
                        <label class="content-text">{{ creneau.etat }}</label>
                      </div>
                    </div>
                    <hr />
                    <label>AUTRES INFORMATIONS</label>
                    <hr />
                    <div class="d-flex flex-column">
                      <div class="p-2">
                        <label class="label-text">POIDS : </label>
                        <label class="content-text"
                          >{{ poids.poids }} {{ poids.unite }}</label
                        >
                      </div>

                      <div class="p-2">
                        <label class="label-text">TAILLE : </label>
                        <label class="content-text"
                          >{{ taille.taille }} {{ taille.unite }}</label
                        >
                      </div>
                      <div class="p-2">
                        <label class="label-text">COULEUR DES YEUX : </label>
                        <label class="content-text">{{
                          couleurYeux.nom
                        }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
