.coach_img {
  width: 15vh;
  height: 17vh;
  margin-left: 5vh;
  border-radius: 3px;
  padding: 2px;
}

.label-text {
  font-weight: 700 !important;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 13px !important;
  color: #000000 !important;
}

.content-text {
  font-weight: 500 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px !important;
  margin-left: 1rem;
}

.card_abonnement {
  height: 67vh;
  border-left: 1px blue solid;
}

.header-name {
  font-weight: 700 !important;
  text-transform: uppercase;
  margin: 10px !important;
  font-size: 1.2rem;
  display: inline-block;
  font-size: 13px !important;
}


.card-info-1,
.card-info-2,
.card-info-3 {
  height: 55vh;
  border: none;
}

.card-top {
  height: 60px;
  background-color: #277592;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

h2 {
  color: #fff !important;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: flex;
}

