  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img [src]="imgPath.logo" alt="IMG" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">MYCOACHA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img [src]="imgPath.user" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">
            MBUKA OKITO
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a routerLink="/" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
              </p>
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-person"></i>
              <p>
                Gestion de coach
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/coach/creation" routerLinkActive="active" class="nav-link">
                    <span class="ml-4">Création du coach</span>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/coach/liste-des-coachs" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">Voir les coachs</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-person"></i>
              <p>
                Gestion des clients
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/client/nouveau-client" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">Création du client</span>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/client/voir-les-cliients" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">Voir les clients</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-person"></i>
              <p>
                Ges des abonnés
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/abonnement/nouveau-abonnes" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">
                    création
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/abonnement/abonnes-liste" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">
                    voir la liste
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-person"></i>
              <p>
                abonné sans coach
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/abonnement-sans/abonnement-sans-coach-creation" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">
                    Création
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/abonnement-sans/abonnement-sans-coach-table" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">
                    Voir la liste
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-person"></i>
              <p>
                Exercice sportif
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/exercise-sportif/nouveau" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">
                    Nouveau
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/exercise-sportif/liste" routerLinkActive="active" class="nav-link">
                  <span class="ml-4">
                    Listes des exercises
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="exercise-sans-coach" routerLinkActive="active" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>EXERCISE SANS COACH</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="creneau" routerLinkActive="active" class="nav-link">
              <i class="nav-icon bi bi-calendar4"></i>
              <p>
                CRENEAU HORAIRE
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-gear-fill"></i>
              <p>
                Configuration
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="nationalite" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nationalité</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="taille" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Taille</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="poids" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Poids</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="commune" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Commune</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="civilite" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Etat civil</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="couleur-des-yeux" routerLinkActive="active" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Couleur des yeux</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link">
              <i class="fas fa-power-off nav-icon"></i>
              <p>Deconnection</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
