<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>Liste des communes</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Coach</a></li>
          <li class="breadcrumb-item active"> Liste des communes</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- .col (right) -->
      <div class="col-md-6">
        <form
          autocomplete="off"
          [formGroup]="communeForm"
          (ngSubmit)="onsaveFn()"
        >
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4>Nouvelle ou Edit Commune </h4>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <!-- commune -->
                <div class="form-group">
                  <label>Commune :</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="nom de la commune"
                    id="commune"
                    name="commune"
                    formControlName="commune"
                  />
                  <div class="error-controls mt-1" *ngIf="commune.invalid && (commune.dirty || commune.touched)">
                          <span *ngIf="commune.errors.required" class="text text-danger">
                            la commune est requise
                          </span>
                  </div>
                </div>
                <!-- end commune -->

                <!-- district -->
                <div class="form-group">
                  <label>District :</label>
                  <select name="district" id="district" class="form-control" formControlName="district">
                    <option selected>Veuillez selectionner le district</option>
                    <option value="mont-Amba">MONT-AMBA</option>
                    <option value="funa">FUNA</option>
                    <option value="Lukunga">LUKUNGA</option>
                    <option value="Tshiangu">TSHIANGU</option>
                  </select>
                  <div class="error-controls mt-1" *ngIf="district.invalid && (district.dirty || district.touched)">
                          <span *ngIf="district.errors.required" class="text text-danger">
                            le nom de la district est requis
                          </span>
                  </div>
                </div>
                <!-- end district -->
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <button type="reset" class="btn btn-danger m-1 btn-sm">
                  Annuler
                </button>
                <button type="submit" class="btn btn-primary btn-sm mr-1" [disabled]="communeForm.invalid">
                  Enregistrer
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end col (right) -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h4>Liste des communes</h4>
            </div>
          </div>
          <div class="card-body">

            <form [formGroup]="handlerCommuneSarch">
              <div class="input-group">
                <label class="input-group-text">Search :</label>
                <input type="text" name="search" id="keyword" class="form-control" formControlName="keyword">
                <button class="btn btn-primary">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
            <hr>
            <div class="card-body table-responsive p-0 mt-3" style="height: 400px;">
              <ng-container *ngIf="communeDATA | async as data; else failureOrLoading">
                <table class="table table-head-fixed table-striped">
                  <thead>
                  <tr>
                    <th>N</th>
                    <th>Commune</th>
                    <th>District</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let items of communeDATA | async ,let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{items.commune}}</td>
                    <td>{{items.district}}</td>
                    <td>
                      <a class="btn btn-primary btn-sm" (click)="onGetCommune(items.id)"><i class="bi bi-pen"></i></a>
                      <a class="btn btn-danger btn-sm m-1" (click)="onDeleteCommune(items.id)"><i
                        class="bi bi-trash3"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-template #failureOrLoading>
                <ng-container *ngIf="errorMessage; else Loading">
                  <div class="text text-danger">
                    {{errorMessage}}
                  </div>
                </ng-container>

                <ng-template #Loading>
                  Loading data....
                </ng-template>

              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
