<div style="background: blue !important; height: 4rem !important;">
  <h2 mat-dialog-title>
  <span *ngIf="!data.id" class="text-white">
    CREATE CIVILITY
  </span>
    <span *ngIf="data.id" class="text-white" style="line-height: 12px;">
    You are updating with Name : {{ data.name }}
  </span>
  </h2>
</div>
<mat-dialog-content>
   <div class="container">
     <form [formGroup]="civilityForm" (ngSubmit)="onSubmit()">
       <input type="text" name="id" formControlName="id" id="id" class="form-control d-none">
       <div class="form-group">
         <label class="form-label">Civility Name :</label>
         <input type="text" name="name" formControlName="name" id="name" class="form-control" placeholder="civility name">
       </div>
       <div class="form-group">
         <label class="form-label">Observations :</label>
         <input type="text" formControlName="observation" name="name" id="observation" class="form-control" placeholder="Observation">
       </div>
       <div class="float-right">
         <button type="button" class="btn btn-danger mr-1" mat-dialog-close>Close</button>
         <button type="submit" class="btn btn-primary" [disabled]="civilityForm.invalid">
           <span *ngIf="!loading">Submit</span>
           <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
             <span class="sr-only">loading...</span>
           </div>
         </button>
       </div>
     </form>
   </div>
</mat-dialog-content>

<!--<button type="button" color="warn" mat-button mat-dialog-close>Close</button>
<button type="submit" color="primary" mat-flat-button [mat-dialog-close]="'Confirmed'" [disabled]="civilityForm.invalid">
  <span>Submit</span>
  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>-->

