<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid mt-4">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Abonnement sans coach</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">sportif</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h5>Information du candidat</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <!-- sportif image -->
              <div class="container">
                <div class="col-md-12 mb-1 prop_img">
                  <img
                    [src]="Path.user"
                    alt="IMG"
                    class="img img-circle sportif_img"
                  />
                </div>
              </div>
              <!-- end sportif image -->

              <!-- nom du coach -->
              <div class="form-group">
                <label for="exampleInputEmail1">Nom du candidat :</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="nom du candidat..."
                  id="nom_sportif"
                  name="nom_sportif"
                />
              </div>
              <!-- end coach -->

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Civilité :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="civilité..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nationalité :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="nationalité..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Taille :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="taille..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Poids :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="poids..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h5>Choix d'exercise sportif</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <!-- nom du coach -->
              <div class="form-group">
                <label for="exampleInputEmail1">Nom du candidat :</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="nom du candidat..."
                  id="nom_sportif"
                  name="nom_sportif"
                />
              </div>
              <!-- end coach -->

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Civilité :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="civilité..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nationalité :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="nationalité..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Taille :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="taille..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Poids :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="poids..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col (left) -->

      <!-- .col (right) -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h5>Abonnement</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <!-- numero d'abonnement -->
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Numero d'abonnement :</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="A00-304-AAB"
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end numero d'abonnement -->
                </div>
                <div class="col-md-6">
                  <!-- numero paiement -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Numero paiement :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="NN-000-NP"
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end numero paiement -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Date d'abonnement :</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="civilité..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1"
                      >Date fin d'abonnement :</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      placeholder="nationalité..."
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mode de paiement :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="mode de paiement"
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Montant payé :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="00.000"
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Type d'abonnement :</label>
                    <select
                      name="typeAbonnement"
                      id="typeAbonnement"
                      class="form-control"
                    >
                      <option selected>type d'abonnement</option>
                      <option value="Annuel">Annuel</option>
                      <option value="mensuel">mensuel</option>
                      <option value="semestriel">semestriel</option>
                      <option value="journalier">journalier</option>
                    </select>
                  </div>
                  <!-- end coach -->
                </div>
                <div class="col-md-6">
                  <!-- nom du coach -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Montant payé :</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="00.000"
                      id="nom_sportif"
                      name="nom_sportif"
                    />
                  </div>
                  <!-- end coach -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h5>Controles</h5>
            </div>
          </div>
          <div class="card-body">
            <button class="btn btn-danger m-1">Annuler</button>
            <button class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
      <!-- end col (right) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>


