<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>
          DETAIL SUR L'ABONNEMENT DU CLIENT
        </h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/abonnement/abonnes-liste">Abonnements</a></li>
          <li class="breadcrumb-item active">Abonnement liste</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!--new row-->
    <div class="row mb-2">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <img [src]="Path.logo" mat-card-avatar>
            <span class="header-name">
              <label class="label-text">NUMERO D'ABONNEMENT :</label>
              {{numeroAbonnement}}
            </span>

            <div class="float-right">
              <button mat-raised-button color="warn" class="mr-1" routerLink="/abonnement/abonnes-liste">
                <i class="bi bi-arrow-left"></i>
                Retour sur la liste
              </button>
              <button mat-raised-button color="primary">
                Generer la carte
              </button>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--end new row-->
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <!-- /.card-header -->
          <div class="card-header">
            <div class="card-title">
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="card card_abonnement">
                  <div class="card-body">
                    <div class="container">
                      <div class="col-md-12 mb-2 prop_img">
                        <img
                          [src]="Path.logo"
                          alt="IMG"
                          class="img img-thumbnail coach_img"
                          name="imageUpload"
                        />
                      </div>
                    </div>
                    <hr>
                    <label class="label-text">INFORMATION DU CLIENT</label>
                    <hr>
                    <div class="d-flex flex-column">
                      <div class="p-2"><label class="label-text">NOM DU CLIENT :</label>
                        <label class="content-text">{{clientDTO.nom_client}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">SEXE :</label>
                        <label class="content-text">{{clientDTO.sexe}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">TELEPHONE :</label>
                        <label class="content-text">{{clientDTO.telephone}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">EMAIL :</label>
                        <label class="content-text">{{clientDTO.email}}</label>
                      </div>

                    </div>
                    <hr>

                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card_abonnement">
                  <div class="card-body">
                    <label class="label-text">INFORMATION D'ABONNEMENT</label>
                    <hr>
                    <div class="d-flex flex-column">

                      <div class="p-2"><label class="label-text">NUM D'ABONNEMENT :</label>
                        <label class="content-text"> {{numeroAbonnement}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">DATE D'ABONNEMENT :</label>
                        <label class="content-text">{{dateAbonnement | date}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">DATE FIN D'ABONNEMENT :</label>
                        <label class="content-text">{{dateFinAbonnement | date}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">TYPE D'ABONMT :</label>
                        <label class="content-text">{{typeAbonnement}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">DUREE D'ABONNEMENT :</label>
                        <label class="content-text">{{dureeAbonnement}}</label>
                      </div>
                    </div>
                    <hr>
                    <label class="label-text">INFORMATION DE PAIEMENT</label>
                    <hr>
                    <div class="d-flex flex-column">
                      <div class="p-2"><label class="label-text">NUM DE LA PAIE :</label>
                        <label class="content-text">{{numeroPaiement}}</label>
                      </div>
                      <div class="p-2"><label class="label-text">DATE DE PAIEMENT :</label>
                        <label class="content-text">
                          {{datePaiement | date}}
                        </label>
                      </div>
                      <div class="p-2"><label class="label-text">MONTANT PAIE :</label>
                        <label class="content-text">{{montantPaie | currency : "USD"}}</label>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card card_abonnement">
                  <div class="card-body">
                    <label class="label-text">EXERCICE SPORTIF</label>
                    <hr>
                    <div class="d-flex flex-column">

                      <div class="p-2"><label class="label-text">NOM DE L'EXERCICE :</label>
                        <label class="content-text" >{{exerciceDTO.nomexercise}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">EXPERIENCE PRO :</label>
                        <label class="content-text">{{exerciceDTO.experiencePro}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">CARACTERISTIQUES :</label>
                        <label class="content-text">{{exerciceDTO.caracteristique}}</label>
                      </div>


                    </div>
                    <hr>
                    <label class="label-text">INFORMATION DU COACH</label>
                    <hr>
                    <div class="d-flex flex-column">

                      <div class="p-2"><label class="label-text">NOM DU COACH : </label>
                        <label class="content-text">{{exerciceDTO.coachDTO.nom_coach}} </label>
                      </div>

                      <div class="p-2"><label class="label-text">SEXE : </label>
                        <label class="content-text">{{exerciceDTO.coachDTO.sexe}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">TELEPHONE : </label>
                        <label class="content-text">{{exerciceDTO.coachDTO.telephone}}</label>
                      </div>

                      <div class="p-2"><label class="label-text">EMAIL : </label>
                        <label class="content-text">{{exerciceDTO.coachDTO.email}}</label>
                      </div>
        
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>


