<!-- <div class="hero">
  <div class="container">
    <div class="card card-primary card-login">
      <div class="card-header">
        <div class="card-title">
          <div class="login-mention">
            <h3>ACCESS MYCOACH ADMIN</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-controls">
          <form method="post" (ngSubmit)="onSubmit()" [formGroup]="formLogin">
            <div class="input-controls">
              <div class="form-group">
                <input
                  type="text"
                  name=""
                  class="form-control"
                  id=""
                  placeholder="username"
                  formControlName="username"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name=""
                  class="form-control mt-3"
                  id=""
                  placeholder="password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="form-group button-control">
              <button type="submit" class="btn btn-primary">
                Se connecter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="login-para">
      <p>&copy; Product SYLLICON SMART SERVICE-2024</p>
    </div>
  </div>
</div> -->
