<div class="progress-card">
  <div class="progress-header">
    <h4>Statistiques globales</h4>
  </div>

  <div class="vertical-progress-list">
    <div class="vertical-progress-item" *ngFor="let item of progressItems">
      <div class="progress-value">
        {{ item.value }}
      </div>

      <div class="vertical-progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          [ngClass]="item.color"
          [style.height.%]="getPercent(item)"
          role="progressbar"
          [attr.aria-valuenow]="item.value"
          aria-valuemin="0"
          [attr.aria-valuemax]="item.max"
        ></div>
      </div>

      <div class="progress-label">
        {{ item.label }}
      </div>
    </div>
  </div>
</div>
