<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3>CREATION D'UN AGENT</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a routerLink="/"> Liste des agents </a>
          </li>
          <li class="breadcrumb-item active">Editer Agent</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- end Content Header (Page header) -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <form autocomplete="off" [formGroup]="coachForm" (ngSubmit)="createAgent()">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- card identité -->
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4>IDENTITE DE L'AGENT</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label"> Nom : </label>
                    <input
                      type="text"
                      name="name"
                      formControlName="name"
                      class="form-control"
                      placeholder="le nom..."
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Post-nom :</label>
                  <input
                    type="text"
                    name="lastname"
                    formControlName="lastname"
                    class="form-control"
                    placeholder="nom de famille..."
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label">Prenom :</label>
                  <input
                    type="text"
                    name="firstname"
                    formControlName="firstname"
                    class="form-control"
                    placeholder="le prenom..."
                  />
                </div>
              </div>
              <!-- Lieu & Date de naissance -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Lieu de naissance :</label>
                    <input
                      type="text"
                      name="placeOfBirt"
                      id="placeOfBirt"
                      formControlName="placeOfBirt"
                      class="form-control"
                      placeholder="lieu de naissance..."
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Date de naissance : </label>
                  <input
                    type="date"
                    name="dateOfBirt"
                    id="dateOfBirt"
                    formControlName="birthdate"
                    class="form-control"
                  />
                </div>
              </div>
              <!-- End Lieu & Date de naissance -->

              <!-- Sexe et civilité -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Sexe :</label>
                    <select
                      name="sex"
                      id="sex"
                      formControlName="sex"
                      class="form-select select shadow-none"
                    >
                      <option value="">Selectionner le sexe</option>
                      <option value="Masculin">Masculin</option>
                      <option value="Feminin">Feminin</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Etat Civil : </label>
                  <div class="form-group">
                    <select
                      name="etat"
                      id="etat"
                      formControlName="etatCivil"
                      class="form-select shadow-none"
                    >
                      <option value="">Selectionner l'état civil</option>
                      <option value="cilibatire">Celibataire</option>
                      <option value="marié">Marié</option>
                      <option value="divorcé">Divorcé</option>
                      <option value="veuve">Veuve</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- End civilite & Sex -->

              <!-- Nationality -->
              <div class="row">
                <div class="form-group">
                  <label class="form-label"> Nationalité : </label>
                  <select
                    name="nationalite"
                    id="nationalite"
                    formControlName="nationality"
                    class="form-select shadow-none"
                  >
                    <option value="">Selectionner la nationalité</option>
                    <option value="Congolais(RDC)">Congo Kinshasa</option>
                    <option value="Congolais(Brazzaville)">
                      Congo Brazzaville
                    </option>
                    <option value="Angola">Angola</option>
                    <option value="Zambie">Zambie</option>
                  </select>
                </div>
              </div>
              <!-- ./ end Nationality -->
            </div>
          </div>
          <!-- ./ card identité -->

          <!-- /.card contact -->
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h3>CONTACT</h3>
              </div>
            </div>
            <div class="card-body">
              <!--phone  1 et phone 2-->
              <div class="row">
                <div class="col-md-6">
                  <label>Téléphone (1) : </label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    name="phone"
                    placeholder="phone (1)"
                  />
                </div>
                <div class="col-md-6">
                  <label>Téléphone (2) :</label>
                  <input
                    type="tel"
                    name="phone"
                    placeholder="phone (2)"
                    formControlName="phoneNumber1"
                    id="phoneNumber1"
                    class="form-control"
                  />
                </div>
              </div>
              <!--end phone 1 and phone 2-->

              <!-- Email -->
              <div class="form-group">
                <label class="form-label">Email :</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control shadow-none"
                  formControlName="email"
                  placeholder="exemple@exemple.com"
                />
              </div>
              <!--End Email-->
            </div>
          </div>
          <!-- ./ card contact -->
        </div>
        <!--/.col (left) -->

        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="d-flex flex-column">
                  <div class="text-center">
                    <img
                      [src]="imageURL ? imageURL : Path.user"
                      *ngIf="imageURL ? imageURL : Path.user"
                      alt="IMG"
                      class="img img-thumbnail coach_img"
                      name="imageUpload"
                    />
                  </div>
                  <div class="d-flex flex-row justify-content-center mt-3">
                    <div>
                      <button
                        type="button"
                        class="btn btn-danger"
                      >
                        Choose Browse
                        <i class="fa-thin fa-folder-magnifying-glass"></i>
                      </button>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="btn btn-primary btn-sm btn_p_photo"
                      >
                        Take a Photo
                        <i class="fa-thin fa-camera"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h3>INFORMATION PROFESSIONNELLE</h3>
              </div>
            </div>
            <div class="card-body">
              <!--phone  1 et phone 2-->
              <div class="row">
                <div class="col-md-6">
                  <label>Matricule : </label>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="matricule"
                    name="matricule"
                    placeholder="numéro matricule de l'agent"
                  />
                </div>
                <div class="col-md-6">
                  <label>Fonction :</label>
                  <input
                    type="text"
                    name="fonction"
                    placeholder="fonction de l'agent"
                    formControlName="fonction"
                    id="fonction"
                    class="form-control"
                  />
                </div>
              </div>
              <!--end phone 1 and phone 2-->

              <!-- Service -->
              <div class="form-group mt-2">
                <label class="form-label"> SERVICE </label>
                <input
                  type="text"
                  name="service"
                  id="service"
                  class="form-control shadow-none"
                  formControlName="service"
                  placeholder="service ou departement de l'agent"
                />
              </div>
              <!--End Service-->
              <!-- Filiale -->
              <div class="form-group mt-2">
                <label class="form-label"> ATTACHEMENT DE L'AGENT </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control shadow-none"
                  formControlName="filiation"
                  placeholder="filliale ou appartenance de l'agent"
                />
              </div>
              <!--End Filiale-->
            </div>
          </div>
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h3>ADRESSE</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="" class="form-label"> District : </label>
                    <select name="" id="" class="form-select shadow-none">
                      <option value="selected">Select un district</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="" class="form-label">Commune : </label>
                    <select name="" id="" class="form-select shadow-none">
                      <option value="selected">Select une commune</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="" class="form-label">Quartier : </label>
                    <input
                      type="text"
                      name=""
                      id=""
                      class="form-control shadow-none"
                      placeholder="quartier..."
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="" class="form-label">Avenue : </label>
                    <input
                      type="text"
                      name=""
                      id=""
                      class="form-control shadow-none"
                      placeholder="avenue..."
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- card button -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <button type="reset" class="btn btn-warning mr-1 btn-sm">
                  Annuler
                </button>

                <button
                  type="submit"
                  class="btn btn-info"
                  [disabled]="coachForm.valid"
                >
                  <span *ngIf="!loading"> Enregistrer </span>
                  <div
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                  >
                    <span class="sr-only">loading...</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card button-->
    </form>
  </div>
  <!-- /.container-fluid -->
</section>
