.prop_button {
    margin-left: 25%;
}

.accordion-button {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins",sans-serif;
}

.prop_img {
  margin-left: 30%;
}

.btn_p_photo{
margin-left: 2px;
}

.coach_img {
    width: 22vh;
    height: 25vh;

  border-radius: 3px;
    padding: 2px;
}

.button_hauteur {
  margin-top: 2rem;
}


.btn-creneau-validate {
    border: none;
}

.btn-primary,
.btn-danger
 {
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
}

.btn-warning,
.btn-info {
  width: 150px;
  border-radius: 20px;
  font-size: 16px;
  text-transform: capitalize;
}


