<div class="presence-chart-card">
  <div class="presence-chart-header">
    <h3>Statistique de présence des agents</h3>
  </div>

  <div class="presence-chart-loader" *ngIf="isLoading">
    Chargement du graphique...
  </div>

  <apx-chart
    *ngIf="!isLoading"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [markers]="chartOptions.markers"
    [dataLabels]="chartOptions.dataLabels"
    [fill]="chartOptions.fill"
    [grid]="chartOptions.grid"
    [tooltip]="chartOptions.tooltip"
    [colors]="chartOptions.colors">
  </apx-chart>
</div>