<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid mt-4">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">
          G-PERSO DASHBOARD
        </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <div class="title">
                      <h2>
                        Nombre d'agents
                      </h2>
                      <span>
                        10
                    </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="float-end">
                      <div class="icon">
                        <i class="fa-thin fa-users"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent mb-2">
                <div class="row">
                  <div class="col-sm-3">
                    <span class="show-more">50%</span>
                  </div>
                  <div class="col-sm-6">
                    <span class="show-text">customer detail</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <div class="title">
                      <h2>
                        Nombre de dossiers
                      </h2>
                      <span>
                       100
                    </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="float-end">
                      <div class="icon">
                        <i class="fa-thin fa-users-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent mb-2">
                <div class="row">
                  <div class="col-sm-3">
                    <span class="show-more">25%</span>
                  </div>
                  <div class="col-sm-6">
                    <span class="show-text">Subscriber detail</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <div class="title">
                      <h2>
                        Poste Disponible
                      </h2>
                      <span>
                      25
                    </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="float-end">
                      <div class="icon">
                        <i class="fa-thin fa-user-tie"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent mb-2">
                <div class="row">
                  <div class="col-sm-3">
                    <span class="show-more">50%</span>
                  </div>
                  <div class="col-sm-6">
                    <span class="show-text">Details</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <div class="title">
                      <h2>
                        Tout les agents
                      </h2>
                      <span>
                      400
                    </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="float-end">
                      <div class="icon">
                        <i class="fa-thin fa-person-circle-minus"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent mb-2">
                <div class="row">
                  <div class="col-sm-3">
                    <span class="show-more">25%</span>
                  </div>
                  <div class="col-sm-6">
                    <span class="show-text">Detail</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-8">
        <div class="card" style="height: 28rem;">
          <div class="card-header">
            <h4>
              TOP 10 AGENTS CEGAG
            </h4>
          </div>
          <div class="card-body">
            <table class="table table-head-fixed">
              <thead class="thead">
              <tr>
                <th>Nom</th>
                <th>Post-nom</th>
                <th>Prenom</th>
                <th>Sex</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Detail</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coach of coachList">
                  <td>{{coach.name}}</td>
                  <td>{{coach.firstname}}</td>
                  <td>{{coach.lastname}}</td>
                  <td>{{coach.sexe}}</td>
                  <td>{{coach.phone}}</td>
                  <td>{{coach.email}}</td>
                  <td>
                    <button class="btn btn-primary">
                      <i class="fa-thin fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="height: 28rem;">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <!-- Main row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

